<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL SHORTER</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <style>
    html {
      background: black;
     }
    body {
      background: black;
      color: white;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      position: absolute;
      top: 50%;
      left: 61%;
      transform: translateX(-50%) translateY(-50%);
      color: white;
      font-size: 30px;
      font-family: Orbitron;
}
  </style>
</head>
<body>
<div class="container">
  <form action="/post" method="POST">
    <input type="url" placeholder="Enter URL" pattern="https?://.+" name="url" required />
    <input type="submit" value="Shorten" /> 
    {% if data[0]%} 
      <div>URL: <a href="http://127.0.0.1:5000/s/{{data[0]}}">http://127.0.0.1:5000/s/{{data[0]}}</a></div>
    {% else %}
      <div>URL:  None</div>
    {% endif %}
  </form>
</div>
</body>
</html>